* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn-container {
  display: flex;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-container button {
  height: 40px;
  width: 120px;

  border: 2px solid firebrick;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.7);
}

.btn-container .active-start-btn {
  color: green;
  border-color: green;
  font-weight: 800;
}

.btn-container .active-stop-btn {
  color: firebrick;
  border-color: firebrick;
  font-weight: 800;
}
